h1 {
font-size: 60px;
}
.title{
text-align: center;
    border: 12px double brown;
    margin: 17px 150px 17px 150px;
}
h2{
font-size: 25px;
}

.introduction{
text-align: center;
    margin: 17px 150px 17px 150px;
   
}
